<%= flash[:invalid_url] %>
<form action='/bookmarks' method='post'>
  <label for='new-title'>Bookmark title</label>
  <input type='text' name='new-title'>
  <label for='new-bookmark'>Bookmark url</label>
  <input type='text' name='new-bookmark'>
  <input type='submit' value='Save'>
</form>
