<ul>
  <% @bookmarks.each do |bookmark| %>
  <li><a href='<%= bookmark.url %>'><%= bookmark.title %></a></li>
  <form action='/bookmarks/<%= bookmark.id %>' method='post'>
    <input type='hidden' name='_method' value='DELETE'/>
    <input type='submit' value='Delete' />
  </form>
  <form action='/bookmarks/<%= bookmark.id %>/edit' method='get'>
    <input type='submit' value='Update' />
  </form>
  <% end %>
</ul>
<a href='/bookmarks/new'>add bookmark</a>
<a href='/delete-bookmark'>delete bookmark</a>
<a href='/update-bookmark'>update bookmark</a>
