<ul>
  <% @bookmarks.each do |bookmark| %>
  <li><a href='<%= bookmark.url %>'><%= bookmark.title %></a></li>
  <% end %>
</ul>
<a href='/add-bookmark'>add bookmark</a>
<a href='/delete-bookmark'>delete bookmark</a>
<a href='/update-bookmark'>update bookmark</a>
